*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito", sans-serif;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78vh;
}
header{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    height: 12vh;
    align-items: center;
    box-shadow: 0 4px #24242426;
    
    @media(max-width:600px){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0 4rem 0;
    }

    @media(max-width:430px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 14vh;
    }
    @media(max-width:412px){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 10vh;
        align-items: center;
        padding-top: 5%;

    }
    ul{
        display: flex;
        width: 30vw;
        justify-content: space-around;

        @media(max-width:430px){
            display: flex;
            width: 60vw;
            justify-content: space-around;
        }

        @media(max-width:412px){
        display: flex;
        width: 70vw;
        justify-content: space-around;
        align-items: center;
        }
        
        li{
            list-style: none;

            @media(max-width:430px){
                display: flex;
                align-items: center;
                height: 5vh;
            }
        }
    }
}
nav{
    @media(max-width:430px){
        height: 30vh;
        width: 70vw;
        display:flex;
        justify-content: center;
        align-items:center;
    }
}
section{
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: space-around;
    // padding: 
    @media(max-width:430px){
        flex-direction: column;
    }

    div{
        height: 50vh;
        width: 30vw;
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        @media(max-width:430px){
        // background-color: aqua;
        height: 30vh;
        width: 60vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
        h1{
            font-size: 3rem;
            font-weight: 700;
            @media(max-width:430px){
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            }
        }
    }
}
button{
    background-color: #FCA60F;
    width: 11vw;
    height: 7vh;
    border-radius: 0.3rem;
    border: none;
    color: blanchedalmond;
    font-size: 1.2rem;
    font-weight: 700;

    @media(max-width: 430px){
        width: 12rem;
        height: 3rem;
    }
}
figure{
    display:flex;
    width: 8vw;
    justify-content: space-around;

}
.container-redes{
    
    @media(max-width:430px){
        width: 40vw;
    }
    img{
        width: 20%;

        @media(max-width:430px){
            width:15%;
        }
    }
}

.copo{
    @media(max-width:430px){
        width: 80vw;

    }
}

footer{
    background-color: rgb(12, 11, 11);
    color: blanchedalmond;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}